.ThemeWhite{
  color: #3c4043;
  background: #ffffff;
}

.ThemeWhite .toastLifeBar{
  background: #3c4043;
}

.ThemeWhite div.card{
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.ThemeWhite .toast{
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.ThemeWhite div.cardButton{
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.ThemeWhite div.dockBar{
  background: #ffffff;
  box-shadow: 0 -2px 3px 0 rgb(60 64 67 / 30%)
}

.ThemeWhite svg{
  fill: #3c4043;
}

.ThemeWhite div.popUpBar{
  background: #ffffff;
  box-shadow: 0 -2px 3px 0 rgb(60 64 67 / 30%)
}

.ThemeBlack{
  color: #e8eaed;
  background: #202124;
}

.ThemeBlack .toastLifeBar{
  background: #e8eaed;
}

.ThemeBlack div.card{
  background: #313235;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.ThemeBlack .toast{
  background: #2d2e31;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.ThemeBlack div.cardButton{
  background: #313235;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 1px 3px 1px rgb(0 0 0 / 30%);
}

.ThemeBlack div.dockBar{
  background: #202124;
  box-shadow: 0 -2px 3px 0 rgb(0 0 0 / 60%), 0 -6px 10px 4px rgb(0 0 0 / 30%);
}

.ThemeBlack svg{
  fill: #e8eaed;
}

.ThemeBlack div.popUpBar{
  background: #202124;
  box-shadow: 0 -2px 3px 0 rgb(0 0 0 / 60%), 0 -6px 10px 4px rgb(0 0 0 / 30%);
}

.mobile{

}

.pc{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pc::-webkit-scrollbar {
  display: none;
}

.dockBar{
  position: fixed;
}

.mobile div.dockBar{
  padding: 0 10px 0 10px;
  width: calc(100% - 20px);
  height: 60px;
  text-align: end; /* remove it*/
  bottom: 0;
}

.pc div.dockBar{
  padding: 10px 0 10px 0;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
}

.column{
  text-align: center;
}

.mobile .column{
  padding:10px 0 60px 0;
}

.pc .column{
  padding:10px 0 0 60px;
  margin: 0 auto;
}

.section{
  text-align: start;
}

.mobile .section{
  width: 100%;
}

.pc .section{
  font-size: 0;
}

.popUpBar{
  transition: 0.2s;
  overflow: hidden;
}

.mobile .popUpBar{
  position: fixed;
  width: 100%;
  height: 250px;
  bottom: -280px;
  border-radius: 10px 10px 0 0;
}

.pc .popUpBar{
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: -280px;
}

.popUpContainer{
  padding: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

.card{
  margin: 0 10px 10px 10px;
  height: auto;
  border-radius: 8px;
}

.pc .card{
  width: calc(100% / 3 - 20px);
  display: inline-block;
  font-size: initial;
}

.cardButton{
  margin: 10px;
  height: auto;
  border-radius: 10px;
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}

.tag{
  display: inline-block;
  background: orange;
  margin: 1px 2px 1px 2px;
  padding: 0 8px 0 8px;
  border-radius: 10px;
}

.dockBarButton{
  display: inline-block;
  width: 60px;
  height: 52px;
  text-align: center;
  font-size: 15px;
  padding-top: 8px;
  line-height: 15px;

  user-select:none;
}

.image{
  display: block;
  width: 100%;
  width: -moz-available;          /* WebKit игнор. */
  width: -webkit-fill-available;  /* Mozilla игнор. */
  width: fill-available;
  padding: 5px;
  padding-bottom: 0;
}
.subImage{
  max-width: 100%;
  max-height: 140px;
  width: auto;
  height: auto;
  padding: 0;
}
.subImageHolder{
  display: inline-flex;
  max-height: 145px;
  width: auto;
}

.subImageContainer{
  max-height: 150px;
  padding: 2.5px;
  font-size: 0;
  text-align: start;
}
.imgBorder{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;

  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  height: 100%;
  /* height: -moz-available; */
  height: -webkit-fill-available;
  height: fill-available;

  margin: 5%;
  display: flex;
  align-items: center;
}

.tagCheckBox{
  margin: 0 2px 0 2px;
  user-select: none;
}

.checkBox{
  display: none;
}

.tagCheckBox span{
  -webkit-transition: .2s;
  background: transparent;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  border: 1px solid orange;
}

.tagCheckBox input:checked + span {
  background-color: orange;
}

.body{
  margin: 0;
  width: 100%;
}

/* toas */

.toast{
  position: fixed;
  height: 40px;
  line-height: 40px;
  z-index: 10;
  border-radius: 2px;
  pointer-events: none;
  transition: 0.4s;
  right: 10px;
  padding: 0 10px;
}

.toastLifeBar{
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 1.5px 1.5px;
  transition: 3s;
  transition-timing-function: linear;
}
