.weaponCard{
  width: min-content;
  background: #ece5d8;
  font-family: 'Open Sans', sans-serif;
}

.weaponCard .name{
  height:45px;text-align: center;
  border-bottom: 1px solid;
  color: white;
  margin: 0;
  /* font-size: 33px; */
  font-size: 22px;
  line-height: 45px;
  white-space: nowrap;
  padding: 0 5px;
}

.weaponCard ul{
  list-style:none;
  padding:0;
  margin:0;
  min-width: max-content;
  width: calc(100% - 10px);
  padding: 5px;
  overflow: auto;
}

.weaponCard.r5 ul{
  background: linear-gradient(135deg, #72564f, #f6b85a);
}
.weaponCard.r5 .name{
  background: #bd6932;
  border-color: #915229;
}

.weaponCard.r4 ul{
  background: linear-gradient(135deg, #595482, #ba8acb);
}
.weaponCard.r4 .name{
  background: #a256e1;
  border-color: #8142b4;
}

.weaponCard.r3 ul{
  background: linear-gradient(135deg, #47567d, #54a1b3);
}
.weaponCard.r3 .name{
  background: #5181cd;
  border-color: #3d669e;
}

.weaponCard.r2 ul{
  background: linear-gradient(135deg, #36625a, #689171);
}
.weaponCard.r2 .name{
  background: #2a8f71;
  border-color: #1f755f;
}

.weaponCard.r1 ul{
  background: linear-gradient(135deg, #4d5560, #869196);
}
.weaponCard.r1 .name{
  background: #72778c;
  border-color: #596070;
}

.weaponCard li{
  float:left;
  line-height: 25px;
  height:150px;
}

.weaponCard img{
  height:100%;
  min-width: 150px;
}

.weaponCard .passives{
  color: #444f63;padding:5px;
}

.weaponCard .passiveName{
  font-weight: bold;
  margin: 0;
}

.weaponCard .passiveDescript{
  font-size:14px;
  margin: 0;
}

.weaponCard .rarity{
  color: gold;
}

.weaponCard .subStat,.weaponCard .mainStat{
  font-weight: bold;
  color: #c6b4aa;
}

.weaponCard .subStatValue,.weaponCard .mainStatValue,.weaponCard .itemClass{
  color: white;
}
