.weaponCard{
  width: min-content;
  background: #ece5d8;
  font-family: 'Open Sans', sans-serif;
}

.weaponCard .name{
  height:45px;text-align: center;
  background: #bd6932;
  border-bottom: 1px #915229 solid;
  color: white;
  margin: 0;
  /* font-size: 33px; */
  font-size: 22px;
  line-height: 45px;
}

.weaponCard ul{
  list-style:none;
  padding:0;
  margin:0;
  width:max-content;
  padding: 5px;
  overflow: auto;
  background: linear-gradient(135deg, #72564f, #f6b85a);
}

.weaponCard li{
  float:left;
  line-height: 25px;
  height:150px;
}

.weaponCard img{
  height:100%;
  min-width: 150px;
}

.weaponCard .passives{
  color: #444f63;padding:5px;
}

.weaponCard .passiveName{
  font-weight: bold;
}

.weaponCard .passiveDescript{
  font-size:14px;
}

.weaponCard .rarity{
  color: gold;
}

.weaponCard .subStat,.atack{
  font-weight: bold;
  color: #c6b4aa;
}

.weaponCard .subStatValue,.atackValue,.itemClass{
  color: white;
}

.weaponCard .passiveDescript span{
  font-weight: bold;
}
