:root{
  --minimized-player-height:60px;
}
html, body{
  height: 100%;
  width:100%;
  margin: 0;
}
#playerPane{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  pointer-events: none;
  scroll-snap-type: y mandatory;
}
#playerPane.active{
  pointer-events: auto;
}

#playerEmpty{
  width: 100%;
  height: 100%;
  margin-bottom: -56.25%;
  scroll-snap-align: start;
}
#playerContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
#pseudoPlayerWindow{
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  position: relative;
}
#playerWindow{
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--minimized-player-height);
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  pointer-events: auto;
}
#player{
  background: url(https://images.unsplash.com/photo-1597487389339-5591e52de66f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=1200);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
#playerContant{
  height: 100%;
  width: 100%;
  background: cadetblue;
  pointer-events: auto;
}
