
:root {
  --app-width: 960px;
}

.themeWhite{
  --top-bar-color: #cfd8dc;
  --app-background-color: #f2f2f2;
  --ptimaty-text-color: black;
  --menu-text-color: #919191;
  --main-area-background: white;
}

.toolTip{
  cursor: pointer;
}

#toolTip{
  overflow:hidden;
  position: absolute;
  display:none;
  border: 2px solid gray;
  border-radius: 2px;
}

#toolTip.active{
  display: block;
}

header{
  background: var(--top-bar-color);
  height: 46px;
  position: sticky;
  width: 100%;
  line-height: 46px;
  user-select: none;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%);
  top: 0;
}

html{
  height: 100%;
}

body{
  overflow: hidden;
  margin: 0;
  height: 100%;
}

#app{
  background: var(--app-background-color);
  overflow-y: scroll;
  height: 100%;
}

#mainArea{
  width: calc(var(--app-width) - 40px);
  max-width: calc(100% - 40px);
  padding: 0 20px;
  min-height: 1200px;
  /* display: table; */
  margin: 0 auto;
  background: var(--main-area-background);
}

#topBar{
  width: var(--app-width);
  max-width: calc(100% - 40px);
  height: 100%;
  margin: auto;
  display: flex;
}

.topBarEdge{
  height: 100%;
}

.topBarMiddle{
  height: 100%;
  width: 100%;
  text-align: center;
}

.subNavigation{
  margin: 0 0 40px 0;
  padding: 40px 0 0 0;
  user-select: none;
  border-bottom: 1px solid var(--app-background-color);
}
