:root{
  --app-header-max-height:300px;
  --app-header-min-height:60px;
  --app-bottom-bar-height:60px;

  --app-bottom-drawer-min-height:60px;

  --ripple-color:rgba(0,0,0,0.1); /* default value*/

  --app-color-1: #dbea8e; /* header? */
  --app-color-2: #000000; /* bottom bar */
  --app-color-3: #000000; /* app background*/
  --app-color-4: #151618; /* bottom drawer color*/

  --text-color-1: black;
  --text-color-2: white;
}
body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
html{
  font-family: 'Open Sans', sans-serif;
}
body{
  position: relative;
}

#tooltip{
  position: absolute;
  background: white;
  transform: translateX(-50%);
  pointer-events: none;
  display: none;
}

#app{
  width: 100%;
  height: 100%;
  color: var(--text-color-2);
  font-size: 20px;
  background: var(--app-color-3);

  overflow-y: hidden;
}

.appContainer{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.containerFiller{
  height: calc(100% - var(--app-bottom-drawer-min-height) - var(--app-bottom-bar-height));
  width: 100%;
}

.bottomDrawer{
  height: 100%;
  width: 100%;
  background: var(--app-color-4);
  position: absolute;
  top: calc(100% - var(--app-bottom-drawer-min-height) - var(--app-bottom-bar-height));
  overflow: hidden;
  display: none;
}

.bottomDrawer.active{
  display: block;
}

.bottomDrawerHandle{
  height: var(--app-bottom-drawer-min-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomDrawerContainer{
  height: calc(100% - var(--app-bottom-drawer-min-height));
  width: 100%;
  overflow-y: scroll;
}

.viewWrapper{
  height: 100%;
  width: 100%;

  position: sticky;
  top: 0;
  overflow-y: hidden;
}

.view{
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  overscroll-behavior-y: contain;
}

.viewContainer{
  width: 100%;
  display: flex;
  padding-bottom: calc(var(--app-bottom-bar-height) + var(--app-bottom-drawer-min-height));
  flex-direction: column;
  min-height: calc(100% - var(--app-bottom-bar-height) - var(--app-bottom-drawer-min-height) + 1px);
}
