.cardDisplayToggle{
  overflow: auto;
  color: #919191;
}

.cardDisplayToggle ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  width: max-content;
  float: right;
}
.cardDisplayToggle a{
  font-size: 18px;
}

.cardDisplayToggle li{
  float: left;
}
.cardDisplayToggle svg{
  vertical-align: bottom;
  fill: #919191;
}
.cardDisplayToggle a:hover svg{
  fill: black;
}
.cardDisplayToggle a.active svg{
  fill: black;
}
.cardDisplayToggle span{
  float: right;
}
