.subNavigation{
  margin: 40px 0;
  user-select: none;
  border-bottom: 1px solid #f2f2f2;
}

.subNavigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 35px;
  line-height: 36px;
  width: max-content;
}
.subNavigation li{
  float: left;
  margin-right: 30px;
  font-size: 25px;
}
.subNavigationButton{
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2
}
.subNavigationButton:hover{
  border-color: black;
}

.subNavigationButton.active{
  color:red;
  border-color: red;
  cursor: default;
}
